@page
@model FDFLodsedler.Pages.Account.LogoutModel
@{
}
<form method="post">

    <div class="container mt-5">
        <div class=" col-sm-12 col-md-12 col-lg-4">

            <p>Er du sikker på at logge af?</p>

            <p>
                <button class="btn btn-primary" asp-page-handler="Logout">Ja</button>
                <button class="btn btn-light m-lg-5 border-dark " asp-page-handler="Dontlogout">Nej </button>
            </p>

        </div>

    </div>

</form>