@page
@model FDFLodsedler.Pages.Child.OpdatereBarnModel
@{
}
<form method="post">
    
    <div class="form-group">
        <label asp-for="børn.Navn"></label>
        <input asp-for="børn.Navn" class="form-control" />
        <span asp-validation-for="børn.Navn" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="børn.GruppeId"></label>
        <input asp-for="børn.GruppeId" class="form-control" />
        <span asp-validation-for="børn.GruppeId" class="text-danger"></span>
    </div>
    <input type="submit" value="Opdater Medlem" class="btn btn-primary" />
</form>