@page
@model FDFLodsedler.Pages.Child.VisBarnModel
@{
}
<p>
    <a asp-page="/Child/OpretBarn"> Opret Barn</a>
</p>
<h1> Liste af Børn</h1>
<div class="card-deck">
    @foreach (var l in Model.børns)
    {
        <div class="card-header">
            <h3>@l.Navn </h3>
            <div>
            </div>
            <div class="card-footer text-sm-center">
                <a asp-page="/Tickets/OpretLodseldler" class="btn btn-danger m-1">UdleveretLodseldler</a>
                <a asp-page="/Sales/OpretSalg" class="btn btn-primary m-1">Salg</a>
                <a asp-page="/Child/SletBarn" asp-route-sid="@l.Børn_Id" class="btn btn-danger m-1">Slet</a>
                <a asp-page="/Child/OpdatereBarn" asp-route-sid="@l.Børn_Id" class="btn btn-primary">Opdater</a>
            </div>
        </div>
    }
</div>
